.example-button {
  background: rgb(86, 1, 245);
  font-size: 1.8rem;
  color: white;
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: "red";
  height: 100vh;
}

.alert {
  background: red;
  width: 150px;
  height: 150px;
  color: white;
}

.alert-button {
  margin-bottom: 50px;
}